body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* {box-sizing: border-box;} */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #120558;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 100px;
  opacity: 0.8;
  color: white;
}

/* The popup form - hidden by default */
.form-popup {
  background-color: rgb(255, 255, 255);
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

/* Full-width input fields */
.form-container input[type="text"] {
  width: 100%;
  padding: 5px;
  margin: 10px 0 10px 0;
  border: none;
  background: #e7e7e7;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the send button */
.form-container .btn {
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .send {
  background-color: #4caf50;
  float: right;
  width: 25%;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.senderId {
  font-size: small;
}

.messageContent {
  background-color: rgb(24, 132, 233);
  color: white;
  font-size: smaller;
}

.message-list {
  width: 100%;
}

.message {
  -ms-flex: 1 1 auto;
  flex: 0;
  min-height: 1px;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.message-list {
  max-height: 250px;
  overflow-y: auto;
}

.searchResultList {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.postUser {
  font-size: small;
}
